.vision .banner {
    position: relative;
    height: 600px;

    box-sizing: border-box;
    margin: 0 auto;
}

.vision .graphic {
    display: inline-block;
    position: relative;

    width: 100%;
    height: 100%;

    background: url('../../../../assets/elements/banners/helicopter-rescue.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vision .overlay {
    color: white;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}